---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import NextEvent from '../components/NextEvent.astro';
import WhatWeDo from '../components/WhatWeDo.astro';
import WhoComes from '../components/WhoComes.astro';
import PastEvents from '../components/PastEvents.astro';
import Photos from '../components/Photos.astro';
import Hosts from '../components/Hosts.astro';
import Team from '../components/Team.astro';
import Newsletter from '../components/Newsletter.astro';
import JoinCta from '../components/JoinCta.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <NextEvent />
    <WhatWeDo />
    <WhoComes />
    <PastEvents />
    <Photos />
    <Hosts />
    <Team />
    <Newsletter />
    <JoinCta />
  </main>
  <Footer />
</Base>
